{% set portalTitle = 'Users' %}
{% extends 'layouts/full-width' %}

{% block scripts %}

{% endblock %}

{% set current_section = 'users' %}

{% block primary %}
<section class="portal">
    <div class="container">
        <div class="portal-headline">
            <div class="breadcrumbs">
                <a class="breadcrumb-item" href="{{ route('dashboard') }}">Dashboard</a>
                <a class="breadcrumb-item" href="{{ route('users') }}">Users</a>
                <span class="breadcrumb-item">{{ person }}</span>
            </div>
            <h1>{{ person }}</h1>
        </div>
        <div class="portal-columns">
            <div class="portal-column--first">
                <div class="card address">
                    <header class="card-header">
                        <span class="card-header--title">Account Details</span>
                        {% if Gate.allows('update', person) %}
                            <a class="button button-product--small" href="{{ route('user', {id: person.id}) }}?action=update">Edit</a>
                        {% endif %}
                    </header>
                    <div class="card-body">
                        <div class="card--two-columns">
                            <div class="card-column card-column--vertical">
                                <div class="card-info">
                                    <span class="card-info--title">Personal Info</span>
                                    <span class="card-info--text card-info--text-large">{{ person.fullName }}</span>
                                    {% if person.email %}
                                        <span class="card-info--text">{{ person.email }}</span>
                                    {% endif %}
                                    {% if person.dateOfBirth %}
                                        <span class="card-info--text">{{ person.dateOfBirth|date("F j, Y")}}</span>
                                    {% endif %}
                                    {% if person.profession %}
                                        <span class="card-info--text">{{ person.profession.title}}</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% if user.addressLine1 %}
                                <div class="card-column card-column--vertical">
                                    <div class="card-info">
                                        <span class="card-info--title">Shipping Info</span>
                                        <span class="card-info--text card-info--text-large">{{ user.addressLine1 }}</span>
                                        {% if user.addressLine2 %}
                                            <span class="card-info--text card-info--text-large">{{ user.addressLine2 }}</span>
                                        {% endif %}
                                        <span class="card-info--text">{{ user.city }}, {{ user.state.id }} {{ user.postalCode }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <footer>
                        {% if Gate.allows('remove', person) %}
                            <a class="button button-primary" href="{{ route('user', {id: person.id}) }}?action=remove">Remove User</a>
                        {% endif %}
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
