<div class="form-group">
	<label>
		<p>
			{{ answer.question|product_highlighter|raw }}
		</p>
	</label>
	<div class="radio-group">
		<label>
			<input type="radio" name="answers[{{ answer.key }}]" value="1" {{ answer.content == '1' ? 'checked' : '' }} />
			Yes
		</label>

		<label>
			<input type="radio" name="answers[{{ answer.key }}]" value="0" {{ answer.content == '0' ? 'checked' : '' }} />
			No
		</label>
	</div>

	<div class="details" data-condition="answers[{{ answer.key }}]" data-value="1">
		<label for="note-{{ answer.key }}">
			Additional Details
		</label>
		<textarea id="note-{{ answer.key }}" cols="80" rows="4" name="notes[{{ answer.key }}]">{{ answer.note }}</textarea>
	</div>

	{% include 'partials/messaging/error.twig' with {field: 'answer-' ~ answer.key} %}
</div>
