<div class="portal-columns">
    <div class="portal-column--first">
        <fieldset class="personal">
            <h2 class="icon-heading"><i class="fa fa-user"></i></h2>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" value="{{ person.firstName }}" class="medium" />
                {% include 'partials.messaging.error' with {field: 'firstName'} %}
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" value="{{ person.lastName }}" class="medium"  />
                {% include 'partials.messaging.error' with {field: 'lastName'} %}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" value="{{ person.email }}" />
                {% include 'partials.messaging.error' with {field: 'email'} %}
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" value="{{ person.phone }}" />
                {% include 'partials.messaging.error' with {field: 'phone'} %}
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input type="date" name="dateOfBirth" value="{{ person.dateOfBirth ? person.dateOfBirth|date('Y-m-d') : '' }}" />
                {% include 'partials.messaging.error' with {field: 'dateOfBirth'} %}
            </div>
        </fieldset>
    </div>
    <div class="portal-column--last">

        <fieldset class="address">
            <h2 class="icon-heading"><i class="fa fa-home"></i></h2>
            <div class="form-group">
                <label for="addressLine1">Address</label>
                <input type="text" name="addressLine1" value="{{ person.addressLine1 }}" />
                {% include 'partials.messaging.error' with {field: 'addressLine1'} %}
                <input type="text" name="addressLine2" value="{{ person.addressLine2 }}" placeholder="Apartment, suite, unit, building, floor, etc..." />
                {% include 'partials.messaging.error' with {field: 'addressLine2'} %}
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" name="city" value="{{ person.city }}" />
                {% include 'partials.messaging.error' with {field: 'city'} %}
            </div>

            <div class="form-group">
                <label for="state">State</label>
                <select id="state" name="state">
                    <option value=""></option>
                    {% for state in people.states.findAll() %}
                        <option value="{{ state.id }}" {{ person.isState(state) ? 'selected' : '' }}>{{ state }}</option>
                    {% endfor %}
                </select>
                {% include 'partials/messaging/error.twig' with {field: 'state'} %}
            </div>

            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" name="postalCode" value="{{ person.postalCode }}" class="short" />
                {% include 'partials/messaging/error.twig' with {field: 'postalCode'} %}
            </div>

        </fieldset>
    </div>

    {{ csrf_field() }}
</div>
<button class="button button-primary" type="submit">Save Patient</button>
